@import './partials/reset';
@import './partials/header';
@import './partials/footer';
@import './partials/toppage';
@import './partials/secondpage';
@import './partials/experience';
@import './partials/experiencetwo';
@import './partials/detailsform';

/*
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif;
*/
$main-color: white;


// @mixin mobile-md {
//     @media screen and (min-width:500px) and (max-width:768px){
//         @content;
//     }
// }
// @mixin mobile-sm {
//     @media screen and (min-width:150px) and (max-width:425px){
//         @content;
//     }
// }

.app{
    background: $main-color;
    // border: 2px solid green;
}

